.audio-toggle-btn {
    position: fixed;
    top: 35px;
    left: 24px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 9999;

    width: 32px;
    height: 32px;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.6;
}
.audio-icon {
    width: 100%;
    height: 100%;
    fill: #fdfde2;
    transition: fill 0.3s ease;
}
.audio-toggle-btn:hover {
    transform: scale(1.08);
    opacity: 1;
}
.audio-toggle-btn.muted {
    opacity: 0.25;
}

.Part5-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
}

.Part5-viewport,
.Part5-view {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
.Part5-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
    z-index: 1;
}

.dialogue-box,
.options-area {
    margin: 0;
    box-sizing: border-box;
}

.dialogue-box {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    max-width: 800px;
    min-height: 70px;
    background: rgb(16 11 4 / 85%);
    border: 1px solid #0e1615;
    border-radius: 8px;
    padding: 10px;
    z-index: 10;
    box-shadow: 0 10px 30px rgba(50, 27, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.dialog-text {
    flex: 1;
    color: #fff2b9;
    text-align: center;
}

.options-area {
    bottom: 100px;
    left: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.options-area button {
    background-color: #29251645;
    color: #fffcf4;
    padding: 10px 25px;
    cursor: pointer;
    font-family: 'Georgia', serif;
    font-size: 13px;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: all 0.3s ease;
    text-transform: uppercase;
}
.options-area button:hover {
    background-color: #33312645;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(216, 186, 87, 0.5);
    transform: translateY(-2px);
}
.options-area button:active {
    transform: translateY(0);
    background-color: #1a1209;
}
.manual {
position: fixed;
    top: 35px;
    right: 24px;
    z-index: 9999;
    width: 50px;
    height: 50px;

    background-image: url('../../../../assets/img/Part5/HogwartsManual.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;

    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;

    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1;
}
.manual:hover {
    transform: scale(1.10);
}
.cibo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}
.cibo-overlay.is-visible {
    opacity: 1;
}
.stair-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.s1 {
    animation: moveV 4s ease-in-out infinite;
}
@keyframes moveV {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.s2 {
    animation: moveH 5s ease-in-out infinite;
}
@keyframes moveH {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(30px);
    }
}

.s3 {
    animation: moveD 6s ease-in-out infinite;
}

@keyframes moveD {

    0%,
    100% {
        transform: translate(0, 0) rotate(0deg);
    }

    50% {
        transform: translate(-25px, -15px) rotate(2deg);
    }
}

.transform-flash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at center, #ffffff 0%, rgba(255, 255, 255, 0.8) 40%, transparent 70%);
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    transform: scale(0.1);
    transition: transform 0.6s ease-out, opacity 0.6s ease-in-out;
}
.transform-flash.is-flashing {
    opacity: 1;
    transform: scale(3.5);
}
.flying-owl-item {
    position: absolute;
    width: 270px;
    height: auto;
    pointer-events: none;
    z-index: 10;
    transition: transform 0.05s linear;
}

.whistle-container {
    position: absolute;
    bottom: 120px;
    right: 203px;
    cursor: pointer;
    text-align: center;
    z-index: 20;
    animation: pulseWhistle 1.5s infinite ease-in-out;
}

.whistle-btn {
    width: 70px;
    height: auto;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.5));
    transition: transform 0.2s ease;
}

.whistle-container:hover .whistle-btn {
    transform: scale(1.1);
}
@media screen and (max-width: 932px) and (orientation: landscape) {

    .dialogue-box {
        width: 80%;
    }
    .dialog-text {
        font-size: 0.7rem;
        line-height: 1;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .options-area button {
        font-size: 0.6rem;
        padding: 3px 10px;
    }
    .flying-owl-item {
        width: 120px;
    }
    .whistle-container{
        bottom: 77px;
        right: 40px;
    }
    .whistle-btn {
        width: 50px;
    }
}

