<button class="audio-toggle-btn" (click)="toggleAudio()">
  <svg *ngIf="!audioService.isMuted" viewBox="0 0 24 24" class="audio-icon">
    <path
      d="M5 17h3l5 5V2l-5 5H5v10zm11-5c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02z"
    />
  </svg>

  <svg *ngIf="audioService.isMuted" viewBox="0 0 24 24" class="audio-icon">
    <path
      d="M16.5 12c0-1.77-1.02-3.29-2.5-4.03v2.21l2.45 2.45c.03-.21.05-.42.05-.63zm2.5 0c0 .94-.2 1.82-.54 2.64l1.51 1.51C20.63 14.91 21 13.5 21 12c0-4.28-2.99-7.86-7-8.77v2.06c2.89.86 5 3.54 5 6.71zM4.27 3L3 4.27 7.73 9H3v6h4l5 5v-6.73l4.25 4.25c-.67.52-1.42.93-2.25 1.18v2.06c1.38-.31 2.63-.95 3.69-1.81L19.73 21 21 19.73l-9-9L4.27 3zM12 4L9.91 6.09 12 8.18V4z"
    />
  </svg>
</button>
<button
  class="manual"
  title="Apri il manuale"
  (click)="openManual()"
  alt="Open the manual"
  *ngIf="!gameService.isManualOpen"
></button>
<div class="Part5-container" *ngIf="actualPhase">
  <div class="Part5-viewport">
    <div class="Part5-view">
      <div class="scene-visuals" *ngIf="actualPhase.type !== 'enigma'">
        <div class="transform-flash" [class.is-flashing]="showFlash"></div>
        <div class="image-wrapper">
          <img
            class="Part5-img"
            [src]="
              actualPhase.image_id
                ? '../../../../assets/img/Part5/' +
                  actualPhase.image_id +
                  '.png'
                : 'assets/img/default.png'
            "
            alt="Scena"
          />
          <img
            *ngIf="actualPhase.id === 'banchetto'"
            src="../../../../assets/img/Part5/banchetto_full.png"
            class="cibo-overlay"
            [class.is-visible]="showBanchetto"
          />
          <ng-container *ngIf="actualPhase.id === 'dormitorio'">
            <img
              src="../../../../assets/img/Part5/scala_1.png"
              class="stair-layer s1"
            />
            <img
              src="../../../../assets/img/Part5/scala_2.png"
              class="stair-layer s2"
            />
            <img
              src="../../../../assets/img/Part5/scala_3.png"
              class="stair-layer s3"
            />
          </ng-container>
          <ng-container *ngIf="showOwls">
            <img
              *ngFor="let owl of flyingOwls"
              [src]="'../../../../assets/img/Part5/' + owl.img"
              class="flying-owl-item"
              [style.left.%]="owl.x"
              [style.top.%]="owl.y"
              [style.transform]="owl.speedX < 0 ? 'scaleX(-1)' : 'scaleX(1)'"
            />
          </ng-container>
        </div>
      </div>
      <div
        class="dialogue-box"
        *ngIf="
          actualPhase.type !== 'enigma' &&
          actualPhase.type !== 'animation' &&
          actualPhase.type !== 'minigame' &&
          !(actualPhase.id === 'QuidditchTrophy' && isAlreadySeeker())
        "
      >
        <div class="dialog-text">
          <p *ngIf="actualPhase.character">{{ actualPhase.character }}</p>
          <p>{{ updateTextWithWizardName(actualPhase.text) }}</p>
        </div>

        <div
          class="options-area"
          *ngIf="!actualPhase.type && actualPhase.options"
        >
          <button
            *ngFor="let opt of actualPhase.options"
            (click)="manageChoice(opt)"
          >
            {{ opt.text }}
          </button>
        </div>
      </div>
      <div
        class="whistle-container"
        *ngIf="actualPhase && actualPhase.id === 'lezione_volo'"
        (click)="whistles()"
      >
        <img
          src="../../../../assets/img/Part5/whistle.png"
          alt="Fischietto"
          class="whistle-btn"
        />
      </div>

      <div class="enigma-area" *ngIf="actualPhase?.type === 'enigma'">
        <app-enigma-hub
          [enigmaId]="actualPhase.enigma_id"
          (quizSolved)="manageChoice({ next_node: $event })"
        ></app-enigma-hub>
        <!--<p>Enigma in corso: {{ actualPhase.enigma_id }}...</p>
        <button (click)="ManageEnigmaResult(true)">Simula Successo</button>-->
      </div>
      <div class="minigame-area" *ngIf="actualPhase?.type === 'minigame'">
        <app-minigame-hub
          [minigameId]="actualPhase.minigame_id"
          (minigameSolved)="manageChoice({ next_node: $event })"
        ></app-minigame-hub>
      </div>
    </div>
  </div>
</div>
