<div class="hp-landing-wrapper">
  <div class="overlay"></div>

  <div class="landing-content">
    <h1 class="main-title">Storia d'inchiostro & Magia ...</h1>

    <div class="choices-container">
      <button class="hp-btn btn-demo" (click)="playDemo()">
        <span class="btn-glow"></span>
        <span class="btn-text"> Gioca la Demo </span>
      </button>

      <button
        class="hp-btn btn-full"
        (click)="playFullGame()"
        *ngIf="isFullGameEnded"
      >
        <span class="btn-glow"></span>
        <span class="btn-text"> Gioco Completo </span>
      </button>
    </div>
  </div>
</div>
