<button class="audio-toggle-btn" (click)="toggleAudio()">
  <svg *ngIf="!audioService.isMuted" viewBox="0 0 24 24" class="audio-icon">
    <path
      d="M5 17h3l5 5V2l-5 5H5v10zm11-5c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02z"
    />
  </svg>

  <svg *ngIf="audioService.isMuted" viewBox="0 0 24 24" class="audio-icon">
    <path
      d="M16.5 12c0-1.77-1.02-3.29-2.5-4.03v2.21l2.45 2.45c.03-.21.05-.42.05-.63zm2.5 0c0 .94-.2 1.82-.54 2.64l1.51 1.51C20.63 14.91 21 13.5 21 12c0-4.28-2.99-7.86-7-8.77v2.06c2.89.86 5 3.54 5 6.71zM4.27 3L3 4.27 7.73 9H3v6h4l5 5v-6.73l4.25 4.25c-.67.52-1.42.93-2.25 1.18v2.06c1.38-.31 2.63-.95 3.69-1.81L19.73 21 21 19.73l-9-9L4.27 3zM12 4L9.91 6.09 12 8.18V4z"
    />
  </svg>
</button>
<div class="Station-container" *ngIf="actualFase === 'Station'">
  <div class="Station-viewport">
    <div class="Station-view"></div>
    <img
      [src]="script0[currentLineStation].image"
      class="Station-img"
      alt="Station"
    />
    <div class="Station-game" *ngIf="currentLineStation === 5">
      <div
        class="babbano"
        *ngFor="let babbano of babbani"
        [style.left.%]="babbano.x"
        [style.top.%]="babbano.y"
        [style.z-index]="calculateZIndex(babbano)"
        [style.transform]="getTransform(babbano)"
      >
        <img [src]="babbano.image" />
      </div>
      <div class="harry-container" [class.is-advancing]="isHarryAdvancing">
        <img [src]="harryImages[harryState]" alt="Harry" />
      </div>
      <img
        src="../../../../assets/img/Part4/station-game-column.png"
        class="column"
      />
      <div class="flash-overlay" [class.active]="isFlashActive"></div>
      <button class="onWallClick" (click)="onWallClick()"></button>
    </div>
    <button class="talk" (click)="talk()" *ngIf="currentLineStation === 2">
      Parla con lei
    </button>
    <div
      class="dialogue-box"
      *ngIf="currentLineStation !== 5 && currentLineStation !== 6"
    >
      <div class="dialog-text">
        <p *ngIf="script0[currentLineStation].character">
          {{ script0[currentLineStation].character }}
        </p>
        <p>{{ script0[currentLineStation].text }}</p>
      </div>
    </div>
    <button
      class="EnterTrain"
      *ngIf="currentLineStation === 6"
      (click)="EnterTrain()"
    >
      Sali sul treno
    </button>
  </div>
</div>
<div class="Wagon-container" *ngIf="actualFase === 'Wagon'">
  <div class="Wagon-viewport">
    <div class="Wagon-view">
      <img
        [src]="script1[currentLineWagon].image"
        class="Wagon-img"
        alt="Wagon"
      />

      <div
        class="dialogue-box"
        *ngIf="
          currentLineWagon !== 5 &&
          currentLineWagon !== 8 &&
          currentLineWagon !== 9
        "
      >
        <div class="dialog-text">
          <p *ngIf="script1[currentLineWagon].character">
            {{ script1[currentLineWagon].character }}
          </p>
          <p>{{ script1[currentLineWagon].text }}</p>
        </div>
      </div>
      <button
        *ngIf="currentLineWagon === 4"
        class="chooseCandy"
        (click)="chooseCandy()"
      >
        Compra i dolci dal carrello
      </button>
    </div>
    <div class="candies" *ngIf="currentLineWagon === 5">
      <div class="instructions">
        <ol>
          <li>
            Alla Cioccorana piace sempre stare al centro e preferisce l'altura.
          </li>
          <li>
            Le Jelly Beans e i Calderotti stanno sempre vicini, ma mai troppo.
          </li>
          <li>
            Il Lecca-Lecca blu deve stare esattamente sotto la Cioccorana.
          </li>
          <li>
            La Liquirizia nera non può stare nella fila alta, però sta sempre
            vicino alle Jelly Beans e mai vicino alle Pasticche vomitose.
          </li>
        </ol>
      </div>

      <div class="candy-grid">
        <div
          class="drop-zone"
          *ngFor="let item of placedItems; let i = index"
          (mouseup)="dropItem(i)"
        >
          <img *ngIf="item" [src]="getItemImage(item)" class="dropped-candy" />
        </div>
      </div>

      <div class="items-pool">
        <img
          src="assets/img/Part4/Cauldron-wagon.png"
          class="candy-item"
          (mousedown)="startItemDrag($event, 'cauldron')"
        />
        <img
          src="assets/img/Part4/GellyBeans-wagon.png"
          class="candy-item"
          (mousedown)="startItemDrag($event, 'jellyBeans')"
        />
        <img
          src="assets/img/Part4/Liquorice-wagon.png"
          class="candy-item"
          (mousedown)="startItemDrag($event, 'liquorice')"
        />
        <img
          src="assets/img/Part4/Lollipop-wagon.png"
          class="candy-item"
          (mousedown)="startItemDrag($event, 'lollipop')"
        />
        <img
          src="assets/img/Part4/Toad-wagon.png"
          class="candy-item"
          (mousedown)="startItemDrag($event, 'toad')"
        />
        <img
          src="assets/img/Part4/VomitPills-wagon.png"
          class="candy-item"
          (mousedown)="startItemDrag($event, 'vomitPills')"
        />
      </div>
      <div class="controls">
        <button (click)="checkSolution()">Controlla Risposta</button>
      </div>
    </div>

    <div class="glasses-container" *ngIf="currentLineWagon === 8">
      <div *ngIf="showSparkles" class="magic-sparkles"></div>
      <div
        class="magic-target"
        (mousedown)="startCharging()"
        (mouseup)="stopCharging()"
        (mouseleave)="stopCharging()"
        [class.charging]="isCharging"
      >
        <div class="progress-ring"></div>
      </div>
    </div>
    <button
      *ngIf="currentLineWagon === 10"
      class="getOffTrain"
      (click)="getOffTrain()"
    >
      Scendi dal treno
    </button>
  </div>
</div>
<div class="Lake-container" *ngIf="actualFase === 'Lake'">
  <div
    class="Lake-viewport"
    *ngIf="!isGameStarted && !isVictory && !isWaveComplete"
  >
    <div class="Lake-view">
      <img
        [src]="script2[currentLineLake].image"
        class="Lake-img"
        alt="LakeScene"
      />
      <div class="dialogue-box" *ngIf="currentLineLake !== 2">
        <div class="dialog-text">
          <p *ngIf="script2[currentLineLake].character">
            {{ script2[currentLineLake].character }}
          </p>
          <p>{{ script2[currentLineLake].text }}</p>
        </div>
      </div>

      <button
        *ngIf="currentLineLake === 2"
        class="startLakeGame"
        (click)="startGame()"
      >
        Attraversa il Lago
      </button>
    </div>
  </div>

  <div
    class="Lake-gameplay-view"
    *ngIf="isGameStarted"
    [style.--hagrid-pos]="hagridX + '%'"
  >
    <div class="lake-background"></div>
    <div class="water-reflections"></div>
    <div class="fog-layer"></div>
    <div class="light-cone"></div>

    <div class="hagrid-boat" [style.left.%]="hagridX">
      <img src="../../../../assets/img/Part4/hagrid-boat.png" alt="Hagrid" />
    </div>

    <div
      class="darkness-overlay"
      [style.--darkness-level]="darknessLevel"
    ></div>

    <div class="player-boat" [style.left.%]="playerX">
      <img [src]="gameLevels[currentWave - 1].boatImg" alt="PlayerBoat" />
    </div>

    <div
      class="control-zone left-zone"
      (mousedown)="startMoving('left')"
      (mouseup)="stopMoving()"
      (mouseleave)="stopMoving()"
    ></div>
    <div
      class="control-zone right-zone"
      (mousedown)="startMoving('right')"
      (mouseup)="stopMoving()"
      (mouseleave)="stopMoving()"
    ></div>
  </div>
  <div class="wave-complete-screen" *ngIf="isWaveComplete && !isVictory">
    <button
      *ngIf="currentWave < 3"
      class="completeWave"
      (click)="completeWave()"
    >
      Aiuta {{ gameLevels[currentWave].name }} ad attraversare il lago
    </button>
  </div>

  <video
    *ngIf="showCastleVideo"
    src="assets/video/CastleVideo.mp4"
    class="fullscreen-video"
    autoplay
    muted
    playsinline
    (ended)="onCastleVideoEnded()"
  ></video>
</div>
