<div class="menu-container">
  <div class="particles-container">
    <div *ngFor="let p of particles" class="particle" [ngStyle]="p.style"></div>
  </div>
  <div
    class="intro-overlay"
    *ngIf="!hideOverlayDOM"
    [ngClass]="{ 'fade-out-overlay': !showOverlay }"
  >
    <div class="glow-effect"></div>
  </div>
  <div class="menu-header">
    <h1>Harry Potter Escape Room</h1>
    <h2>Il tranello del diavolo</h2>
  </div>
  <div
    class="introGame"
    *ngIf="!showInsertName"
    [ngClass]="{ 'parchment-open': isParchmentOpen }"
  >
    <p class="typewriter-text">{{ displayedText }}</p>
    <button
      *ngIf="isTextWritingComplete()"
      (click)="registration()"
      class="btn-registration"
    >
      ▶
    </button>
  </div>
  <div class="registration-box" *ngIf="showInsertName">
    <p class="form-title">Scrivi il tuo nome, giovane mago:</p>
    <input
      type="text"
      name="wizardName"
      [(ngModel)]="wizardName"
      [ngModelOptions]="{ standalone: true }"
      placeholder="Inserisci il tuo nome..."
    />
    <button
      (click)="startGame()"
      class="startGame"
      [disabled]="!wizardName || !wizardName.trim()"
    >
      Varca la Soglia 🚪
    </button>
  </div>
</div>
