<div class="part1-container" *ngIf="HarrysAlarm">
  <div
    class="black-overlay"
    *ngIf="isBlackScreen"
    [ngClass]="{ 'fade-out': isFadeOutActive }"
  ></div>

  <div class="video-scene" *ngIf="isVideoPlaying">
    <video
      src="assets/video/Harry_sveglia.mp4"
      autoplay
      playsinline
      (ended)="onVideoEnd()"
    ></video>
  </div>

  <div class="gameplay-layer" *ngIf="isGameplayReady">
    <p style="color: white; text-align: center; padding-top: 20%">
      La storia ha inizio...
    </p>
  </div>
</div>
<div class="understairs-container" *ngIf="actualFase === 'understairs'">
  <div #roomViewport tabindex="0" class="understairs-viewport">
    <div
      class="understairs-panoramic"
      (mousemove)="updateFlashlight($event)"
      (touchmove)="updateFlashlightTouch($event)"
    >
      <img
        src="assets/img/Understairs.png"
        class="panorama-img"
        alt="Sottoscala"
      />

      <div
        *ngIf="!isRoomIlluminated"
        class="flashlight-overlay"
        [style.mask-image]="flashlightStyle"
        [style.-webkit-mask-image]="flashlightStyle"
      ></div>

      <div class="wall-text eyeglasses">
        La verità si rileva solo a chi sa guardare oltre l'oscurità...
      </div>
      <div class="wall-text door">Il mondo fuori ti aspetta ...</div>

      <button
        class="interactive-item item-glasses"
        (click)="findGlasses()"
      ></button>
      <button class="interactive-item item-door" (click)="openDoor()">
        <span class="door-glow"></span>
      </button>
    </div>
  </div>
</div>
<div class="kitchen-container" *ngIf="actualFase === 'kitchen'">
  <div class="kitchen-viewport"></div>
</div>
<div class="reptiles-container" *ngIf="actualFase === 'reptiles'">
  <div class="reptiles-viewport"></div>
</div>
