<button class="audio-toggle-btn" (click)="toggleAudio()">
  <svg *ngIf="!audioService.isMuted" viewBox="0 0 24 24" class="audio-icon">
    <path
      d="M5 17h3l5 5V2l-5 5H5v10zm11-5c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02z"
    />
  </svg>

  <svg *ngIf="audioService.isMuted" viewBox="0 0 24 24" class="audio-icon">
    <path
      d="M16.5 12c0-1.77-1.02-3.29-2.5-4.03v2.21l2.45 2.45c.03-.21.05-.42.05-.63zm2.5 0c0 .94-.2 1.82-.54 2.64l1.51 1.51C20.63 14.91 21 13.5 21 12c0-4.28-2.99-7.86-7-8.77v2.06c2.89.86 5 3.54 5 6.71zM4.27 3L3 4.27 7.73 9H3v6h4l5 5v-6.73l4.25 4.25c-.67.52-1.42.93-2.25 1.18v2.06c1.38-.31 2.63-.95 3.69-1.81L19.73 21 21 19.73l-9-9L4.27 3zM12 4L9.91 6.09 12 8.18V4z"
    />
  </svg>
</button>
<div class="part1-container" *ngIf="HarrysAlarm">
  <div
    class="black-overlay"
    *ngIf="isBlackScreen"
    [ngClass]="{ 'fade-out': isFadeOutActive }"
  ></div>

  <div class="video-scene" *ngIf="isVideoPlaying">
    <video
      src="assets/video/Harry_sveglia.mp4"
      autoplay
      playsinline
      (ended)="onVideoEnd()"
    ></video>
  </div>

  <div class="gameplay-layer" *ngIf="isGameplayReady">
    <p style="color: white; text-align: center; padding-top: 20%">
      La storia ha inizio...
    </p>
  </div>
</div>
<div class="understairs-container" *ngIf="actualFase === 'understairs'">
  <div #roomViewport tabindex="0" class="understairs-viewport">
    <div
      class="panoramic-view"
      (mousemove)="updateFlashlight($event)"
      (touchmove)="updateFlashlightTouch($event)"
    >
      <img
        src="assets/img/Understairs.png"
        class="panorama-img"
        alt="Understairs"
      />

      <div
        *ngIf="!isRoomIlluminated"
        class="flashlight-overlay"
        [style.mask-image]="flashlightStyle"
        [style.-webkit-mask-image]="flashlightStyle"
      ></div>

      <div class="wall-text eyeglasses">
        La verità si rileva solo a chi sa guardare oltre l'oscurità...
      </div>
      <div class="wall-text door">Il mondo fuori ti aspetta ...</div>

      <button
        class="interactive-item item-glasses"
        (click)="findGlasses()"
      ></button>
      <button class="interactive-item item-door" (click)="openDoor()">
        <span class="door-glow"></span>
      </button>
    </div>
  </div>
</div>
<div class="kitchen-container" *ngIf="actualFase === 'kitchen'">
  <div class="kitchen-viewport">
    <div class="kitchen-view" *ngIf="!isDialogueEnd">
      <img
        [src]="script[currentLineKitchen].image"
        class="kitchen-img"
        alt="Kitchen Scene"
      />
      <div class="dialogue-box">
        <div class="dialog-text">
          <p *ngIf="script[currentLineKitchen].character">
            {{ script[currentLineKitchen].character }}
          </p>
          <p>{{ script[currentLineKitchen].text }}</p>
        </div>
      </div>
    </div>
    <div class="stoves-view" *ngIf="isDialogueEnd">
      <img
        src="../../../../assets/img/stoves.png"
        class="stoves-img"
        alt="Kitchen"
      />
      <div class="breakfast" *ngIf="isEnigmaSolved"></div>
      <div class="timer" *ngIf="!isTimerOpened">
        <button class="open-timer" (click)="openTimer()"></button>
      </div>
      <div class="timer-opened" *ngIf="isTimerOpened">
        <img
          src="../../../../assets/img/timer-zoom2.png"
          class="timer-zoom-img"
          alt="Timer Zoom"
        />
        <div class="inputs-container">
          <input
            type="number"
            [(ngModel)]="digit1"
            placeholder="1"
            min="1"
            max="10"
            step="1"
          />
          <input
            type="number"
            [(ngModel)]="digit2"
            placeholder="5"
            min="1"
            max="9"
            step="1"
          />
          <input
            type="number"
            [(ngModel)]="digit3"
            placeholder="9"
            min="1"
            max="9"
            step="1"
          />
          <input
            type="number"
            [(ngModel)]="digit4"
            placeholder="4"
            min="1"
            max="9"
            step="1"
          />
        </div>
        <button class="spegniTimer" (click)="checkCode()"></button>
        <button class="closeTimer" (click)="closeTimer()">Chiudi</button>
      </div>
    </div>
  </div>
</div>
<div class="reptiles-container" *ngIf="actualFase === 'reptiles'">
  <div class="reptiles-viewport">
    <div class="reptiles-view">
      <img
        [src]="script2[currentLineReptiles].image"
        class="reptiles-img"
        alt="reptiles Scene"
      />
      <button
        class="interactive-glass"
        *ngIf="currentLineReptiles === 6 && glassClicks < 10"
        (click)="onGlassClick()"
      ></button>

      <div class="dialogue-box">
        <div class="dialog-text">
          <p *ngIf="script2[currentLineReptiles].character">
            {{ script2[currentLineReptiles].character }}
          </p>
          <p>{{ script2[currentLineReptiles].text }}</p>
        </div>
        <div
          class="snake-input-container"
          *ngIf="currentLineReptiles === 4 && !isReptilesEnigmaSolved"
        >
          <input
            type="text"
            [(ngModel)]="userSnakeInput"
            placeholder="Cosa sta sibilando?..."
            (keyup.enter)="checkSnakeEnigma()"
          />
          <button (click)="checkSnakeEnigma()">Traduci</button>
        </div>
      </div>
    </div>
  </div>
</div>
