.audio-toggle-btn {
    position: fixed;
    top: 35px;
    left: 24px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 9999;

    width: 32px;
    height: 32px;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.6;
}
.audio-icon {
    width: 100%;
    height: 100%;
    fill: #fdfde2;
    transition: fill 0.3s ease;
}
.audio-toggle-btn:hover {
    transform: scale(1.08);
    opacity: 1;
}
.audio-toggle-btn.muted {
    opacity: 0.25;
}
.broom-container,
.Gringott-container,
.Ollivander-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
}
.broom-viewport,
.broom-view,
.Gringott-viewport,
.Gringott-view,
.Ollivander-viewport,
.Ollivander-view {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.broom-img,
.Gringott-img,
.Ollivander-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
    z-index: 1;
}

.dialogue-box {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 55%;
    max-width: 800px;
    min-height: 70px;

    background: rgba(36, 28, 17, 0.85); 
    border: 1px solid #2b1e0d;
    border-radius: 8px;
    padding: 10px;

    z-index: 10;
    box-shadow: 0 10px 30px rgba(50, 27, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dialog-text {
    flex-grow: 1;
    color: #fff2b9;
    text-align: center;
}
.fullscreen-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #000;}

.EnterOllivander {
    position: absolute;
        bottom: 45%;
        right: 93%;
        cursor: pointer;
        z-index: 20;
        width: 5%;
        color: #ada092;
        background-color: #1c160a57;
}
.EnterGringott{
    position: absolute;
    bottom: 33%;
    right: 19%;
    width: 7%;
    background-color: #342a208c;
    color: #c7c1b5;
    cursor: pointer;
    z-index: 20;
}
.GoToStation {
    position: absolute;
    bottom: 197%;
    right: 91%;
    width: 15%;
    background-color: #392b1a75;
    color: #c7c1b5;
    cursor: pointer;
    z-index: 20;
}
/****************** GRINGOTT **************************/
.pression-tube {
    position: absolute;
        top: 37.5%;
        left: 53.5%;
        transform: translate(-50%, -50%);
        width: 6%;
        height: 35%;
        z-index: 5;
}

.glass-tube {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
}

.magic-liquid {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, #00ffcc, #00aaff);
    transition: height 0.2s ease-out;
}

.target-line {
    position: absolute;
    bottom: 93.75%;
    width: 100%;
    height: 4px;
    background-color: #fff4bc;
    box-shadow: 0 0 8px #ff9d00;
    z-index: 10;
}
.valve-wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}
.valve-wrapper:active {
    cursor: grabbing;
}
.valve-wrapper.valveA {
    top: 67.5%;
    left: 39.2%;
    width: 15.8%;
    height: 25%;
}
.valve-wrapper.valveB {
    top: 70%;
    left: 54%;
    width: 9.2%;
    height: 15.2%;
}

.valve-wrapper.valveC {
    top: 69.5%;
    left: 68.6%;
    width: 12.8%;
    height: 22%;
}

.manopola-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
   user-select: none;
    -webkit-user-drag: none;
    transform-origin: center center;
}
.items {
    position: absolute;
        bottom: 32px;
        left: 67%;
        transform: translateX(-50%);
        display: flex;
        gap: 30px;
        z-index: 15;
}

.inventory-item {
    width: 70px;
    height: 70px;
    object-fit: contain;
    cursor: grab;
    transition: transform 0.2s ease;
    -webkit-user-drag: none;
}

.inventory-item:hover {
    transform: scale(1.1);
}

.inventory-item.dragging {
    position: fixed;
    z-index: 999;
    pointer-events: none;
    transform: scale(1.2);
    cursor: grabbing;
    transition: none;
}
/****************** OLIVANDER *************************/
.btn-box{
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 18%;
    z-index: 20;
}
.btn-box button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12%;
    height: 80%;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
.btn-box .box-1{
    left: 21%;
    transform: translateY(-50%) rotate(-17deg);
}
.btn-box .box-2 {
    left: 39%;
    transform: translateY(-50%) rotate(-17deg);
}
.btn-box .box-3 {
    left: 58%;
    transform: translateY(-50%) rotate(-17deg);
}
.btn-box .box-4 {
    left: 78%;
    transform: translateY(-50%) rotate(-17deg);
}
.fullscreen-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    background-color: #000;
}